Package: com.lacertosusrepo.screenlock
Name: ScreenLock
Depends: mobilesubstrate
Version: 0.2.4-11
Architecture: iphoneos-arm
Description: Lock your screen!
Maintainer: Lacertosus <LacertosusThemes@gmail.com>
Author: Lacertosus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: http://lacertosusrepo.github.io/depictions/com.lacertosusrepo.screenlock/index.html
