Package: com.lacertosusrepo.customreach
Name: CustomReach
Depends: mobilesubstrate
Version: 0.1.2-14
Architecture: iphoneos-arm
Description: Tweak that allows you to customize Reachability to whatever you want!
Maintainer: Lacertosus <LacertosusThemes@gmail.com>
Author: Lacertosus <LacertosusThemes@gmail.com>
Section: Tweaks
