Package: com.lacertosusrepo.anniversaryflower
Name: Anniversary Flower
Depends: com.anemonetheming.anemone
Version: 1.1
Architecture: iphoneos-arm
Description: Happy Anniversary
Maintainer: Lacertosus <LacertosusThemes@gmail.com>
Author: jackfburlinson
Section: Themes
Depiction: http://lacertosusrepo.github.io/depictions/com.lacertosusrepo.anniversaryflower/index.html
