Package: com.lacertosusrepo.soundspring
Name: SoundSpring
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adele has a message for you
Maintainer: Lacertosus <LacertosusThemes@gmail.com>
Author: Lacertosus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: http://lacertosusrepo.github.io/depictions/com.lacertosusrepo.soundspring/index.html
